# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Ignore Python virtual environment
my_env/

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo

# Ignore system files
.DS_Store
Thumbs.db
*.h5
