header.MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation4.MuiAppBar-root.MuiAppBar-colorPrimary.MuiAppBar-positionStatic.css-hip9hq-MuiPaper-root-MuiAppBar-root {
    box-shadow: none;
}

.navbar-backgrounds{
    background: transparent !important;
    box-shadow: none;
    position: relative;
}